body {
    background-color: #03001C;
    color: #28a0f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #0fe336;
}

h1 {
    font-family: Garamond;
    font-size: 45px;
}

.Center {
    margin: auto;
    width: 50%;
}